* {
    box-sizing: border-box;
}

body {
    margin: auto;
    min-width: 340px;
}

header {
    width: 98%;
    margin: 20px 1% 0 1%;
}

figure {
    margin: auto;
}

hr {
    background-color: #79a;
    height: 5px;
}

article {
    max-width: 100%;
    text-align: center;
    margin-left: 0 !important;
}

.title-name {
    text-transform: uppercase;
    font-weight: 100;
    margin: auto;
    color: #234;
}

.title-fs-developer {
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0 0 0;
    color: #234;
}

.main-image{
    margin-top: 10px;
}

.featured-work {
    color: #79a;
    font-weight: 300;
}

.featured-work-project-title {
    text-transform: uppercase;
    font-weight: 400;
    color: #234;
    margin: 10px 0 0 0;
}

.featured-work-project-a {
    font-size: 50%;
    color: #234;
}

.featured-work-project-image {
    max-width: 30%;
    margin-bottom: 10px;
    float: left;
}

.featured-work-middle-image {
    margin-left: 2%;
}

.font-roboto {
    font-family: Roboto, Tahoma, sans-serif;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.no-margin {
    margin: 0;
}

.max-width-100 {
    max-width: 100%;
}

#logo {
    width: 55px;
    margin-top: 5px;
}