* {
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: auto;
}

figure {
    margin: auto;
}

hr {
    background-color: #79a;
    height: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.font-roboto {
    font-family: Roboto, Tahoma, sans-serif;
}

/* Header */

header {
    width: 98%;
    margin: 20px 1% 0 1%;
}

#logo {
    width: 55px;
    margin-top: 5px;
}

.title-name {
    text-transform: uppercase;
    font-weight: 100;
    margin: auto;
    color: #234;
}

.title-fs-developer {
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0 0 0;
    color: #234;
}

.box-header-logo {
    width: 20%;
    min-width: 55px;
}

.box-header-name {
    text-align: right;
    width: 80%;
}

/* Projects */

.main-image{
    margin-top: 10px;
    max-width: 100%;
}

.featured-work {
    color: #79a;
    font-weight: 300;
}

article {
    width: 266.6666px;
    text-align: center;
    margin-bottom: 20px;
}

.featured-work-project-title {
    text-transform: uppercase;
    font-weight: 400;
    color: #234;
    margin: 10px 0 0 0;
}

.featured-work-project-a {
    font-size: 50%;
    color: #234;
}

.featured-work-project-image {
    max-width: 95%;
    margin-bottom: 10px;
}

/* Footer */

.w3c-css {
    border:0;
    width:88px;
    height:31px
}